html,
body {
  padding: 0;
  margin: 0;
  background-color: #ffffff !important;
  overflow-x: hidden !important;
}

:root {
  --main-color: rgb(255, 255, 255);
  --red: #ea5455;
  --blue: #2f72c3;
  --green: #28c76f;
  --black: #000;
  --orange: #ec8320;
  --yellow: #f3d332;
  --orange-light: #ff9e432a;
  --tosca: #21d8d8;
  --text-message: rgb(64, 63, 63);
  --purple: #ef79f5;
  --lightorange: #fff1e3;
  --lightgreen: #dff7e9;
  --lightred: #fce5e6;
}

.g-bx-shadow-lg {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, .03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, .03), 0 0.25rem 0.53125rem rgba(4, 9, 20, .05), 0 0.125rem 0.1875rem rgba(4, 9, 20, .03);
}

.g-bdr-round {
  border-radius: 10px !important;
}


