.profile_section--titile {
  font-weight: 700;
  letter-spacing: 0.5px;
}

.profile_section--button {
  background-color: var(--main-color);
  border: 1px solid var(--orange);
  color: var(--orange);
  font-size: 13px;
  font-weight: 600;
  padding: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.profile_section--button:hover {
  background-color: var(--orange);
  border: 1px solid var(--orange);
  color: #fff;
  font-weight: 600;
}

/* Card Profile */
.card_profile--avatar {
  border-radius: 50%;
}

.card_profile--name {
  font-size: 17px;
  font-weight: bold;
}

.card_profile--role {
  font-size: 13.5px;
  color: var(--text-message);
}

.card_profile--icon {
  font-weight: bold;
  color: var(--orange);
}

.card_profile--edit {
  font-size: 13px;
  cursor: pointer;
  font-weight: bold;
  color: var(--orange);
}

.card_profile--title {
  font-size: 12px;
  font-weight: bold;
}

.card_profile--subtitle {
  font-size: 12px;
  color: var(--text-message);
}

/* Card Progress */
.card_progress--section {
  background-color: var(--lightorange);
  border: 1px solid var(--orange);
}

.card_progress--title {
  font-size: 14px;
  font-weight: bold;
}

.card_progress--range {
  width: 100%;
}

.card_progress--value {
  color: var(--orange);
  font-size: 13px;
  font-weight: bold;
}

.card_progress--range input[type=range]::-ms-thumb {
  background: var(--orange) !important;
}

/* Card Progress */
.card_skill--title {
  font-size: 14px;
  font-weight: bold;
}

.card_skill--value1 {
  font-size: 12px;
  border-radius: 20px;
  background: linear-gradient(to right, var(--purple), var(--black));
  border: none;
  color: white;
  cursor: none;
  padding: 6px 16px;
}

.card_skill--value2 {
  font-size: 12px;
  border-radius: 20px;
  background: linear-gradient(to right, var(--yellow), var(--black));
  border: none;
  color: white;
  cursor: none;
  padding: 6px 16px;
}

.card_skill--value3 {
  font-size: 12px;
  border-radius: 20px;
  background: linear-gradient(to right, var(--tosca), var(--black));
  border: none;
  color: white;
  cursor: none;
  padding: 6px 16px;
}

.card_skill--more {
  font-size: 12px;
  cursor: pointer;
  color: var(--text-message);
  display: flex;
  justify-content: center;
}

.card_skill--button {
  background-color: var(--main-color);
  border: 1px solid var(--orange);
  color: var(--orange);
  font-size: 13px;
  font-weight: 600;
  padding: 8px;
}

.card_skill--button:hover {
  background-color: var(--orange);
  border: 1px solid var(--orange);
  color: #fff;
  font-weight: 600;
}

/* Card Menu */
.card_menu--title {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.card_menu--title_active {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: var(--orange) !important;
}

.card_menu--icon {
  font-size: 20px;
  cursor: pointer;
}

.card_menu--icon_active {
  color: var(--orange);
}

/* Card Assesment */
.card_assesment--title {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.card_assesment--title_active {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: var(--orange) !important;
}

.card_assesment--button {
  background-color: var(--main-color);
  border: 1px solid var(--orange);
  color: var(--orange);
  font-size: 13px;
  font-weight: 600;
  border-radius: 5px;
  padding: 8px;
}

.card_assesment--button:hover {
  background-color: var(--orange);
  border: 1px solid var(--orange);
  color: #fff;
  font-weight: 600;
}

.card_assesment--switch {
  font-size: 28px;
  color: var(--orange);
  font-weight: bold;
}

.card_assesment--value_title {
  font-size: 14px;
  font-weight: bold;
}

.card_assesment--value_subtitle {
  font-size: 12px;
  color: var(--text-message);
}

.card_assesment--value_viewtitle {
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  color: var(--orange);
}

.card_assesment--value1 {
  font-size: 12px;
  border-radius: 20px;
  background: linear-gradient(to right, var(--tosca), var(--black));
  border: none;
  color: white;
  cursor: none;
  padding: 3px 16px;
}

.card_assesment--score {
  background-color: var(--lightorange);
  border: 1px solid var(--orange);
  padding: 8px;
}

.card_assesment--scoretitle {
  font-size: 13px;
  font-weight: 500;
}

.card_assesment--persen {
  font-size: 15.5px;
  font-weight: bold;
  color: var(--orange);
}

.card_assesment--buttonscore {
  font-size: 13px;
  font-weight: 500;
  border-radius: 20px;
  border: 1px solid var(--green);
  background-color: var(--lightgreen);
  color: var(--green);
}

.card_assesment--buttonscorefail {
  font-size: 13px;
  font-weight: 500;
  border-radius: 20px;
  border: 1px solid var(--red);
  background-color: var(--lightred);
  color: var(--red);
}

.card_assesment--icon_remove {
  color: var(--red);
  cursor: pointer;
}

.card_assesment--text_remove {
  font-size: 13px;
  font-weight: bold;
  color: var(--red);
  cursor: pointer;
}

.card_assesment--icon_info {
  font-size: 23px;
  color: var(--blue);
}